name: Tests
on: push

jobs:
  rspec:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup-ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: bundler
        run: bundle install
      - name: rspec
        run: bundle exec rspec
